.tabs-header {
  position: relative;
  height: 5em;
}

.tabs-header .home {
  position: absolute;
  left: 0.5em;
  top: 0.6em;
  color: #F9D873;
}

.tabs-main {
  width:90%;
  margin: 0.5em auto 0 auto;
}

.tabs-main .search-box {
  margin-bottom: 3em;
}

.tabs-main .note, .tabs-main .list-icon {
  color: white !important;
}